# Операции в pandas

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

## Уникальные значения

In [18]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [19]:
df['col2'].nunique()

3

In [20]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

## Отбор данных

In [21]:
newdf = df[(df['col1'] > 2) & (df['col2'] == 444)]
newdf

   col1  col2 col3
3     4   444  xyz

## Функции apply

In [22]:
def times2(x):
    return x * 2

In [23]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [24]:
df['col1'].apply(lambda x: x * 2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [25]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

## Удаление колонки

In [26]:
del df['col1']
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

## Получение наименований колонок и строк

In [27]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [28]:
df.index

RangeIndex(start=0, stop=4, step=1)

## Сортировка

In [29]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [30]:
df.sort_values(by='col2')

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

## Поиск и проверка пустых значений

In [31]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [32]:
df.dropna()

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

## Сводные датафреймы

In [33]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [34]:
df.pivot_table(values='D', index=['A', 'B'], columns='C')

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN